@import mixins/regMixins

//Regular give.css
.gv
	//fonts
	&-main-face
		font-family: $main-face
	&-second-face
		font-family: $second-face
	
	// @for $i from 1 through 6
	// 	&-heading#{$i}
	// 		font-size: null

	&-bold
		font-weight: bold
		&er
			font-weight: bolder
	&-italic
		font-style: italic

	&-underline
		text-decoration: underline

	&-uppercase
		text-transform: uppercase

	&-lowercase
		text-transform: lowercase

	&-capitalize
		text-transform: capitalize

	// alignments

	&-align-left
		text-align: left

	&-align-right
		text-align: right

	&-align-center
		text-align: center

	// padding & margin

	&-margin
		margin: $reg
		+gvMarginSizes()
		&-tb
			margin: $reg 0
			+gvMarginSizes()

		&-lr
			margin: 0 $reg
			+gvMarginSizes()
		&-bottom
			margin-bottom: $reg
			+gvMarginSizes()

	&-padding
		padding: $reg
		+gvPaddingSizes()
		&-tb
			padding: $reg 0
			+gvPaddingSizes()

		&-lr
			padding: 0 $reg
			+gvPaddingSizes()

	//float
	
	&-float
		&-left
			float: left
		&-right
			float: right

	//color & background-color
	&-color-main
		color: $main-color

	&-color-second
		color: $second-color

	&-color-third
		color: $third-color

	&-bg-main
		background-color: $main-color

	&-bg-second
		background-color: $second-color

	&-bg-third
		background-color: $third-color

	//background-other stuff
	&-no-repeat
		background-repeat: no-repeat
	// this is for post-images & thumbs

	&-thumb
		background-size: cover
		background-position: center center

	//displays

	&-block
		display: block

	&-inline
		display: inline
		&-block
			display: inline-block

	&-list
		&-item
			display: list-item

	//FLEX
	&-flex
		+gvFlexBox()
		&>*
			flex: 1 0 auto
		&-column
			+gvFlexColumn()

		&-wrap
			+gvFlexWrap()

		&-center
			+gvFlexCenter-v()
			+gvFlexCenter-h()
			&-h
				+gvFlexCenter-h()
			&-v
				+gvFlexCenter-v()
		&-start
			+gvFlexStart-h()
			+gvFlexStart-v()
			&-h
				+gvFlexStart-h()
			&-v
				+gvFlexStart-v()
		&-end
			+gvFlexEnd-h()
			+gvFlexEnd-v()
			&-h
				+gvFlexEnd-h()
			&-v
				+gvFlexEnd-v()
		//to be continued

	