//Registered mixins

=marginSizes()
	&-lg
		margin: $lg
	&-md
		margin: $md
	&-sm
		margin: $sm

=paddingSizes()
	&-lg
		margin: $lg
	&-md
		margin: $md
	&-sm
		margin: $sm

=flexBox()
	display: -webkit-flex
	display: -moz-flex
	display: -o-flex
	display: -ms-flex
	display: flex

=flexColumn()
	-webkit-flex-direction: column
	-moz-flex-direction: column
	-ms-flex-direction: column
	-o-flex-direction: column
	flex-direction: column

=flexWrap()
	-webkit-flex-wrap: wrap
	-moz-flex-wrap: wrap
	-ms-flex-wrap: wrap
	-o-flex-wrap: wrap
	flex-wrap: wrap

=flexCenter-v()
	-webkit-align-items: center
	-moz-align-items: center
	-ms-align-items: center
	-o-align-items: center
	align-items: center

=flexCenter-h()
	-webkit-justify-content: center
	-moz-justify-content: center
	-ms-justify-content: center
	-o-justify-content: center
	justify-content: center	
