// %placeholder to extend

%btn
	background-color: $second-color
	border-radius: .4rem
	padding: .6rem $lg
	cursor: pointer
	position: relative
	display: inline-block
	text-decoration: none
	color: $main-color
	//box-shadow
	&:active
		box-shadow: none
		-webkit-transform: translateY(1px)
		transform: translateY(1px)

	&:hover
		background-color: $main-color
		color: $third-color